* {
  margin: 0;
  padding: 0;
}

@keyframes ZoomOutForLogin {
  from {
    width: 380px;
    margin-top: 30vh;
  }

  to {
    margin-top: 20vh;
    width: 280px;
  }
}

@keyframes ZoomOutForHome {
  from {
    width: 380px;
    margin-top: 30vh;
  }

  to {
    margin-top: 10vh;
    width: 280px;
  }
}

.Frame {
  width: 420px;
  height: 100vh;
  background-color: rgb(15, 76, 130);
  text-align: center;
}

.LogoforLogin {
  margin-top: 30vh;
  width: 380px;
  animation: ZoomOutForLogin 1.1s;
  animation-delay: 2s;
}

.LogoforHome {
  margin-top: 30vh;
  width: 380px;
  animation: ZoomOutForHome 1.1s;
  animation-delay: 2s;
}
